/* Card Look */
.ui-card {
  border-radius: 14px;
}

/* Table header */
.stylish-table thead tr {
  background: linear-gradient(45deg, #212529, #343a40);
  color: white;
}

/* Table hover effect */
.row-hover:hover {
  background: rgba(255, 193, 7, 0.2);
  transition: 0.3s;
}

/* Vehicle image */
.vehicle-img {
  width: 60px;
  height: 45px;
  border-radius: 6px;
  object-fit: cover;
}

/* Fixed form */
.fixed-form {
  position: sticky;
  top: 20px;
}

/* Floating input box beautify */
.form-floating input {
  border-radius: 10px !important;
  border: 1px solid #ced4da;
}


.col-lg-4 {
    height: 100%;
}