.login-bg {
    background: linear-gradient(135deg, #b5e1b1, #c788c7);
    background-size: cover;
    background-attachment: fixed;
    padding: 20px;
}

.animate-slide {
    animation: smoothEnter 0.8s ease forwards;
}

@keyframes smoothEnter {
    from {
        transform: translateY(-45px) scale(0.96);
        opacity: 0;
    }

    to {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}

input.form-control:focus {
    border-color: #6f9bff !important;
    box-shadow: 0 0 10px rgba(111, 155, 255, 0.8) !important;
    transform: translateY(-1px);
    transition: 0.2s ease-in-out;
}

input.form-control:hover {
    background: rgba(255, 255, 255, 0.15);
    transition: 0.3s;
}

.login-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
    transition: 0.3s ease-in-out;
}

.login-card {
    transition: 0.3s ease-in-out;
}